<!DOCTYPE html>
<html>
<head>
    <title>Medicine Alert System</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" rel="stylesheet">
</head>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>

<div class="app-layout">

    <aside class="sidebar">

        <div class="logo-section">
            <div class="logo-icon">
                <i class="fas fa-heartbeat"></i>
            </div>

            <div>
                <h3>MediTrack</h3>
                <span>PHARMACY</span>
            </div>
        </div>

        <div class="nav-title">
            Navigation
        </div>

        <ul class="sidebar-menu">

            <li class="{% if active_page == 'dashboard' %}active{% endif %}"
                onclick="location.href='/'">
                <i class="fas fa-th-large"></i>
                Dashboard
            </li>

            <li class="{% if active_page == 'add' %}active{% endif %}"
                onclick="location.href='/add'">
                <i class="fas fa-capsules"></i>
                Add Medicine
            </li>

            <li class="{% if active_page == 'medicines' %}active{% endif %}"
                onclick="location.href='/medicines'">
                <i class="fas fa-table"></i>
                Medicine Inventory
            </li>

            <li class="{% if active_page == 'reports' %}active{% endif %}"
                onclick="location.href='/reports'">
                <i class="fas fa-file-alt"></i>
                Reports
            </li>

        </ul>

    </aside>

    <main class="main-content">

        <div class="topbar">

            <div>
                <i class="fas fa-hospital"></i>
                Hospital Pharmacy Inventory
            </div>

            <div class="profile-section">

                <div class="notification-wrapper">

                    <i class="fas fa-bell notification-icon"></i>

                    {% if notification_count > 0 %}
                    <span class="notification-badge">
                        {{ notification_count }}
                    </span>
                    {% endif %}

                    <div class="notification-dropdown">

                        <h6>Notifications</h6>

                        {% for medicine, days_left in urgent_medicines %}

                            {% if days_left < 0 %}
                                <p>❌ {{ medicine[1] }} expired</p>
                            {% else %}
                                <p>⚠ {{ medicine[1] }} expires in {{ days_left }} days</p>
                            {% endif %}
                        {% endfor %}

                    </div>

                </div>

                <span>{{ session.get('user', 'Guest') }}</span>

                <a href="/logout" class="staff-badge">
                    Logout
                </a>

            </div>

        </div>

        <div class="page-content">

            {% block content %}
            {% endblock %}

        </div>

    </main>

</div>

</body>
</html>